$primary-color: rgb(0, 46, 172);
$secondary-color: red;

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  h1 {
    font-size: 4rem;
    transition: 0.4s all;
    color: $primary-color;
    &:hover {
      font-size: 4.5rem;
      color: $secondary-color;
    }
    &::before {
      content: "I am ";
    }
  }
  p {
    font-weight: 600;
  }
}

main {
  display: flex;
  justify-content: center;
}
.slug-form {
  display: block;
}
